#title {
    display: flex;
    font-size: 1em;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-mark {
    font-size: 1em;

    top: 1em;
    width: 1.25em;
    height: 1.25em;
    position: absolute;
}

#data {
    display: flex;
    font-size: 1em;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#link {
    color: #2C83FF;
}

h2 {
    font-size: 0.75em;
}

h3 {
    font-size: 0.45em;
}

p {
    font-size: 0.3em;
}