/* #content */
#content {
    font-size: 1em;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* search mark in content */
#content > .item:nth-child(1) {
    font-size: 1em;
    
    width: 8em;
    height: 8em;
    position: relative;
}

#search-mark {
    font-size: 1em;

    top: 1em;
    width: 7em;
    height: 7em;
    position: absolute;
}
#star_big {
    font-size: 1em;

    left: 1.25em;
    top: 2.8em;
    width: 2em;
    height: 2em;
    position: absolute;

}
#star_small {
    font-size: 1em;

    left: 2.5em;
    top: 2.4em;
    width: 1em;
    height: 1em;
    position: absolute;
}


/* Start Searching */
#content > .item:nth-child(2) {
    font-size: 1em;
    color: white;

    width: 7.5em;
    height: 1.25em;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    background: transparent linear-gradient(90deg, #53D7E7 0%, #1D7FFF 100%) 0% 0% no-repeat padding-box;
    border-radius: 0.5em;
}

#p {
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
}